*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* this defines what 1 rem is */
  font-size: 62.5%;
  /* 1rem = 10px; 10px/16px = 62.5% */
}


section {
  font-size: 5rem;
  color: white;
}

.header {
  background-color: #e5e5fc;
  min-height: 10rem;
  font-size: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  /*to prevent other contents from going over the header section when scrolling*/
}

body.modal-open {
  width: 100% !important;
  padding-right: 0 !important;
  overflow-y: scroll !important;
}

.logo__img {
  width: 5rem;
  margin-top: 1.2rem;
  margin-left: 2rem;
}

.navigation__item {
  display: inline-block;
}

.navigation__item:not(:last-child) {
  margin-right: 5rem;
}

.navigation__link {
  font-family: 'Kaushan Script', cursive;
  font-size: 3.6rem;
  text-decoration: none;
  color: #b02db0;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navigation__link:hover,
.navigation__link--active {
  color: #713c71;
}

.header__phone {
  font-family: 'Kaushan Script', cursive;
  font-size: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__phone--link {
  text-decoration: none;
  color: #362478;
  outline: none;
}

.header__phone--link:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f879';
  font-size: 2rem;
}

.cart__box {
  margin-right: 1.6rem;
  width: 18rem;
  font-family: 'Kaushan Script', cursive;
  color: #362478;
  font-size: 1.6rem;
  height: 5rem;
  -ms-flex-item-align: center;
      align-self: center;
  border: 2px solid #362478;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cart__box:hover {
  background-color: #b02db0;
  color: white;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cart__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__text i {
  margin-top: 3px;
}

.humburger {
  display: none;
}

@media screen and (max-width: 900px) {
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
  }
  .humburger {
    display: block;
    position: absolute;
    right: 20px;
    margin-right: 0;
    bottom: 3rem;
    cursor: pointer;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #362478;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .change .bar1 {
    background-color: #b02db0;
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    background-color: #b02db0;
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  .logo__img {
    position: absolute;
    left: 20px;
    margin-right: 0;
    bottom: 1.2rem;
  }
  .navigation {
    display: none;
  }
  .navigation.responsive {
    position: absolute;
    display: block;
    margin: auto;
    width: 100%;
    top: 20mm;
    text-align: center;
    background-color: #e5e5fc;
    z-index: -1;
  }
  .header__phone {
    max-width: 160px;
    margin-right: 25px;
  }
  .cart__box {
    max-width: 160px;
    margin-left: 25px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__logo {
    position: absolute;
    max-width: 100px;
    left: -10px;
  }
  .logo__img {
    position: absolute;
    bottom: -2.5rem;
    left: -0.5rem;
  }
  .navigation.responsive {
    position: absolute;
    width: 100%;
    top: 20mm;
    text-align: left;
  }
  .navigation.responsive > .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  .header__phone {
    margin: 1rem auto;
    font-size: 1.6rem;
  }
  .cart__box {
    margin: auto;
    height: 3rem;
  }
  .header__phone--link:before {
    font-size: 1.6rem;
  }
}

.hero {
  margin-top: 8.5rem;
  max-height: calc(100vh - 8.5rem);
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d4e4ef+0,a2cad8+100&0.56+0,0.75+100 */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(212, 228, 239, 0.56) 0%, rgba(162, 202, 216, 0.75) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(45deg, rgba(212, 228, 239, 0.56) 0%, rgba(162, 202, 216, 0.75) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fd4e4ef', endColorstr='#bfa2cad8',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.hero__video {
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}

.hero .title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.title__heading {
  font-family: 'Kaushan Script', cursive;
  font-size: 9rem;
  color: #b02db0;
  white-space: nowrap;
  margin-bottom: 5rem;
}

@media screen and (max-width: 992px) {
  .title__heading {
    font-size: 7rem;
  }
  .hero .wrapper {
    display: none;
  }
  .hero {
    height: calc(100vh - 8.5rem);
    background-image: linear-gradient(45deg, rgba(212, 228, 239, 0.56) 0%, rgba(162, 202, 216, 0.75) 100%), url(../../assets/img/hero-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 768px) {
  .title__heading {
    font-size: 4rem;
  }
  .hero .title {
    top: 66%;
  }
}

@media screen and (max-width: 400px) {
  .title__heading {
    white-space: normal;
  }
}

.btn--medium {
  font-family: 'Kaushan Script', cursive;
  font-size: 32px;
  display: inline-block;
  color: #362478;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  border: 2.5px solid #362478;
  -webkit-transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .btn--medium {
    font-size: 24px;
    padding-left: 10px;
    padding-right: 16px;
  }
}

.btn--medium:hover {
  background-color: #b02db0;
  color: #ffffff;
  border-color: #b02db0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.about-us {
  height: 60rem;
  background-color: #e5e5e5;
  z-index: 10; /* To prevent hero video from overlapping */
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  padding-left: 12rem;
  padding-right: 12rem;
  padding-top: 12rem;

}

@media screen and (max-width: 1200px) {
  .about-us {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
}


.about-text {
  font-size: 16px;
  max-width: 42rem;
}


.about-text__heading {
  font-family: 'Kaushan Script', cursive;
  font-size: 8rem;
  color: #b02db0;
  margin-bottom: 5rem;
} 

.about-text__paragraph {
  font-family: 'Kaushan Script', cursive;
  font-size: 18px;
  color: black;
  text-align: justify;
  margin-bottom: 5rem;
} 

@media screen and (max-width: 900px) {
  .about-us {
    flex-direction: column;
    align-items: center; 
    height: 120rem;
    justify-content: normal;
    height: unset;
    padding-top: 2rem;
  }
  .about-text {
    text-align: center;
    max-width: unset;
  }

  .about-text__heading {
    font-size: 4rem;
  }
  
}

.about-image {
  outline: 5px solid orange;
  position: relative;
  width: 40rem;
  height: 36rem;
}

.about-image span {
  visibility: hidden;
}
.about-image::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background-image: url(../../assets/img/about-us.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.4s ease-in-out;
}

.about-image:hover::before {
  transform: translate(7%, 7%);

}

@media screen and (max-width: 900px) {
  .about-image {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .about-image {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .about-image {
    height: 24rem;
  }
}
@media screen and (max-width: 1200px) {
  .about-image:hover::before {
    transform: none;
  }
}

.store {
  background-color: white;
  text-align: center;
  margin: auto;
  width: 90%;
}

.store h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 8rem;
  padding-top: 9rem;
  color: #362478;
}

.product-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem 5rem;
  margin: 0 5rem;
}

.product-category {
  margin: 1.6rem;
  width: 18rem;
  min-width: 18rem;
  font-family: 'Kaushan Script', cursive;
  color: #362478;
  font-size: 1.6rem;
  height: 5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 2px solid #362478;
  border-radius: 8px;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.product-category:hover,
.product-category:active {
  background-color: #b02db0;
  color: white;
  border: none;
}

.product-category:first-child {
  position: relative;
}

.product-category i {
  position: absolute;
  font-size: 2rem;
  right: 10px;
  display: none;
}

@media screen and (max-width: 710px) {
  .product-category-title {
    font-family: 'Kaushan Script', cursive;
    color: #362478;
    margin-top: 5rem;
    font-size: 1.6rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .product-categories button:not(:first-child) {
    display: none;
  }
  .product-category i {
    display: inline-block;
    padding: 5px 10px;
    margin: -3px;
    background-color: #3624785e;
    border-radius: 50%;
  }
  .product-category i:hover,
  .product-category i:active {
    color: #362478;
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 50%;
  }
  .product-categories.responsive {
    position: relative;
  }
  .product-categories.responsive button {
    display: block;
  }
}

.product-search-bar {
  margin: auto auto 5rem;
}

.product-search-box {
  position: relative;
  max-width: 600px;
  min-width: 280px;
  width: 60vw;
  height: 5rem;
  margin: auto;
  padding: auto;
  border-radius: 12px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 5px #362478;
          box-shadow: 1px 1px 5px #362478;
  overflow: hidden;
}

.product-search-box:hover {
  border: 2px solid #362478;
}

.product-search-box > input {
  position: absolute;
  border-style: none;
  width: 90%;
  min-width: 240px;
  font-size: 1.6rem;
  left: 45px;
  top: 15px;
}

.product-search-box i {
  position: absolute;
  color: grey;
  font-size: small;
  padding: 3px;
  left: 10px;
  font-size: 2rem;
  top: 12px;
  cursor: pointer;
}

.product-search-box > input:focus,
.product-search-box > button:focus {
  outline: none;
}

.product-search-box i:hover {
  background-color: lightgray;
  border-radius: 12px;
}

.product-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 5%;
}

.product-card {
  position: relative;
  border-radius: 15px;
  border: 2px solid #362478;
  background-color: white;
  width: 300px;
  height: 400px;
  -webkit-box-shadow: 1px 1px 5px #362478;
          box-shadow: 1px 1px 5px #362478;
  overflow: hidden;
  margin: 50px auto;
}

.product-card:hover {
  background-color: #3624782f;
  -webkit-box-shadow: 1px 2px 10px 2px #362478;
          box-shadow: 1px 2px 10px 2px #362478;
}

.product-card-image-frame {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.product-card-image {
  width: 300px;
  height: 300px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  cursor: pointer;
}

.product-card-image:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.product-card-body {
  z-index: 0;
  position: absolute;
  width: 100%;
  bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product-card-body > h5 {
  font-size: 2.5rem;
  position: relative;
  color: #362478;
  text-shadow: 0 0 5px white;
}

.product-card-name {
  max-width: 20rem;
  text-align: left;
}

.product-card-price {
  max-width: 10rem;
  text-align: right;
}

.product-card-footer {
  position: 50px;
  bottom: 30px;
}

.add-to-cart {
  margin: auto;
  width: 18rem;
  font-family: 'Kaushan Script', cursive;
  color: #362478;
  font-size: 1.6rem;
  height: 5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 2px solid #362478;
  border-radius: 8px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: white;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #b02db0;
  color: white;
  border: none;
}

.product-desc-close {
  font-size: 1rem;
}

.product-desc-header {
  border-bottom: 0 none;
}

.product-desc-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  color: #362478;
}

.product-desc-content p {
  font-size: 1.3rem;
}

.product-desc h5 {
  font-size: 2.5rem;
}

.product-desc h6 {
  font-size: 2rem;
}

.product-desc-input-width {
  width: 10rem;
}

.price-qty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 0;
}

.product-carousel-arrow-left {
  position: absolute;
  z-index: 1;
  top: 45%;
  left: -40px;
  border: none;
  font-size: 6rem;
  background-color: transparent;
  color: white;
}

.product-carousel-arrow-right {
  position: absolute;
  z-index: 1;
  top: 45%;
  right: -40px;
  border: none;
  font-size: 6rem;
  background-color: transparent;
  color: white;
}

.product-carousel-arrow-left:hover,
.product-carousel-arrow-left:active,
.product-carousel-arrow-right:hover,
.product-carousel-arrow-right:active {
  color: #b02db0;
}

@media screen and (max-width: 710px) {
  .store > h1 {
    font-size: 4rem;
  }
  .product-carousel-arrow-left {
    top: -15px;
    left: 35%;
    border: none;
    font-size: 4rem;
    background-color: transparent;
    color: gray;
  }
  .product-carousel-arrow-right {
    top: -15px;
    right: 35%;
    font-size: 4rem;
    border: none;
    background-color: transparent;
    color: gray;
  }
}

/* Footer Styles*/
.footer {
  font-size: 1rem;
  background-color: #1a1a1a;
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
}

.footer p {
  font-size: 1.6rem;
}

.footer p a {
  text-decoration: none;
}

.footer div a {
  margin: 1rem;
  text-decoration: none;
}

/*Shopping Cart*/
#shoppingCartContent{
  -webkit-box-shadow: 1px 1px 5px #362478;
          box-shadow: 1px 1px 5px #362478;
  border-radius: 12px;
  }

#shoppingCartPopUp p {
  margin-bottom: 0px;
  font-size: 1.5rem;
}

#shoppingCartPopUp .product-name{
  font-weight: bold;
}

.product-name, .pricePerUnit, .priceTotal{
  color: #362478;
}

#totalText{
  color: #362478;
  font-size: 2.5rem !important;
  font-family: 'Kaushan Script', cursive;
}

#finalTotalDiv{
  color: #b02db0;
  font-size: 2.5rem !important;
}


#shoppingCartPopUp button {
  font-size: 1.5rem !important;
}

#shoppingCartPopUp #checkoutButton{
  display: inline;
  font-family: 'Kaushan Script', cursive;
  color: white;
  height: 5rem;
  border: 2px solid #362478;
  border-radius: 8px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #362478;
  cursor: pointer;
}

#shoppingCartPopUp #checkoutButton:hover {
  background-color: #b02db0;
  color: white;
  border: none;
}

#shoppingCartPopUp .minus-button:hover, .plus-button:hover {
  background-color: #e5e5fc;
  color: #362478;
}


#shoppingCartPopUp h5 {
  font-size: 3rem;
  font-family: 'Kaushan Script', cursive;
    color: #b02db0;
}

#shoppingCartPopUp .minus-button {
  border-radius: 8px 0px 0px 8px;
}

#shoppingCartPopUp .plus-button{
  border-radius: 0px 8px 8px 0px;
}

#shoppingCartPopUp .minus-button, .plus-button{
color: #362478;
border: 1px solid #362478;
background-color: white;
cursor: pointer;
}

#shoppingCartPopUp input{
  color: #362478;
  border-top: 1px solid #362478;
  border-bottom: 1px solid #362478;
}


#shoppingCartPopUp .input-group{
  width: 90%;
}
@media screen and (max-width: 400px){
  #shoppingCartPopUp  #middleColumn{
    margin-left: 10px;
    margin-right: 10px;
  }

  #shoppingCartPopUp #trashColumn{
    width: 1%;
  }

  #shoppingCartPopUp #middleColumn, #inputColumn, #trashColumn{
    margin-top: 12px;
  }

  #shoppingCartPopUp #checkoutButton{
    margin-bottom: 15px;
  }
}

.text-1-5rem {
  font-size: 1.5rem;
}

/* Turns off the up / down arrows next to the number inputs in Chrome, Safari, Edge, and Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Turns off the up / down arrows next to the number inputs in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.max-width-100 {
  max-width: 100%;
  height: auto;
}

.border-radius-100 {
  border-radius: 100px;
}

.square-cropped-100px {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.width-100{
  width:100%;
}

.width-90 {
  width: 90%;
}

.width-80{
  width: 80%;
}

.width-20 {
  width: 20%;
}

.width-27 {
  width: 27%;
}

.width-107px {
  width: 107px;
}

.px-1rem {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.pl-15px {
  padding-left: 15px;
}

.my-7-5px {
  margin-left: 7.5px;
  margin-right: 7.5px;
}
