*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* this defines what 1 rem is */
  font-size: 62.5%;
  /* 1rem = 10px; 10px/16px = 62.5% */
}

section {
  font-size: 5rem;
  min-height: 80rem;
  color: white;
}

.header {
  background-color: #ffffff;
  min-height: 7.6rem;
  font-size: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  /*to prevent other contents from going over the header section when scrolling*/
}

.logo__img {
  width: 5rem;
  margin-top: 1.2rem;
  margin-left: 2rem;
}

.navigation__item {
  display: inline-block;
}

.navigation__item:not(:last-child) {
  margin-right: 5rem;
}

.navigation__link {
  font-family: 'Kaushan Script', cursive;
  font-size: 3.6rem;
  text-decoration: none;
  color: #b02db0;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #713c71;
}

.header__phone {
  font-family: 'Kaushan Script', cursive;
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__phone--link {
  text-decoration: none;
  color: #362478;
  outline: none;
}

.header__phone--link:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f879';
  font-size: 2rem;
}

.cart__box {
  margin-right: 1.6rem;
  width: 18rem;
  font-family: 'Kaushan Script', cursive;
  color: #362478;
  font-size: 1.6rem;
  height: 5rem;
  align-self: center;
  border: 2px solid #362478;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.cart__box:hover {
  background-color: #b02db0;
  color: white;
  border: none;
}

.cart__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart__text i {
  margin-top: 3px;
}

.hero {
  padding-top: 30rem;
  background-color: green;
}

.about-us {
  background-color: violet;
}

.store {
  background-color: white;
  text-align: center;
  margin: auto;
  width: 90%;
}

.store h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 8rem;
  padding-top: 3rem;
  color: #362478;
}

.product-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 5rem;
  margin: 0 5rem;
}

.product-category {
  margin: 1.6rem;
  width: 18rem;
  min-width: 18rem;
  font-family: 'Kaushan Script', cursive;
  color: #362478;
  font-size: 1.6rem;
  height: 5rem;
  align-self: center;
  border: 2px solid #362478;
  border-radius: 8px;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.product-category:hover {
  background-color: #b02db0;
  color: white;
  border: none;
}

.product-category:first-child {
  position: relative;
}

.product-category i {
  position: absolute;
  font-size: 2rem;
  right: 10px;
  display: none;
}

@media screen and (max-width: 710px) {
  .product-categories button:not(:first-child) {
    display: none;
  }

  .product-category i {
    display: inline-block;
    padding: 5px 10px;
    margin: -3px;
    background-color: #3624785e;
    border-radius: 50%;
  }

  .product-category i:hover,
  .product-category i:active {
    color: #362478;
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 50%;
  }
}

@media screen and (max-width: 710px) {
  .product-categories.responsive {
    position: relative;
  }

  .product-categories.responsive button {
    float: none;
    display: block;
  }
}

.product-search-bar {
  margin: auto auto 5rem;
}

.product-search-box {
  position: relative;
  max-width: 600px;
  min-width: 280px;
  width: 60vw;
  height: 5rem;
  margin: auto;
  padding: auto;
  border-radius: 12px;
  background-color: white;
  box-shadow: 1px 1px 5px #362478;
  overflow: hidden;
}

.product-search-box:hover {
  border: 2px solid #362478;
}

.product-search-box>input {
  position: absolute;
  border-style: none;
  width: 90%;
  min-width: 240px;
  font-size: 1.6rem;
  left: 45px;
  top: 15px;
}

.product-search-box i {
  position: absolute;
  color: grey;
  font-size: small;
  padding: 3px;
  left: 10px;
  font-size: 2rem;
  top: 12px;
  cursor: pointer;
}

.product-search-box>input:focus,
.product-search-box>button:focus {
  outline: none;
}

.product-search-box i:hover {
  background-color: lightgray;
  border-radius: 12px;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5%;
}

.product-card {
  position: relative;
  border-radius: 15px;
  border: 2px solid #362478;
  background-color: white;
  width: 300px;
  height: 400px;
  box-shadow: 1px 1px 5px #362478;
  overflow: hidden;
  margin: 50px auto;
}

.product-card:hover {
  background-color: #3624782f;
  box-shadow: 1px 2px 10px 2px #362478;
}

.product-card-image {
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.product-card-body {
  position: absolute;
  width: 100%;
  bottom: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.product-card-body>h5 {
  font-size: 2.5rem;
  position: relative;
  color: #362478;
  text-shadow: 0 0 5px white;
}

.product-card-name {
  max-width: 20rem;
  text-align: left;
}

.product-card-price {
  max-width: 10rem;
  text-align: right;
}

.product-card-footer {
  position: 50px;
  bottom: 30px;
}

.add-to-cart {
  margin: auto;
  width: 18rem;
  font-family: 'Kaushan Script', cursive;
  color: #362478;
  font-size: 1.6rem;
  height: 5rem;
  align-self: center;
  border: 2px solid #362478;
  border-radius: 8px;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #b02db0;
  color: white;
  border: none;
}

.product-desc-close {
  font-size: 1rem;
}

.product-desc-header {
  border-bottom: 0 none;
}

.product-desc-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  color: #362478;
}

.product-desc-content p {
  font-size: 1rem;
}

.product-desc h5 {
  font-size: 2.5rem;
}

.product-desc h6 {
  font-size: 2rem;
}

.product-desc .add-to-cart {
  margin-right: 10px;
}

.footer {
  font-size: 1rem;
}

/*Shopping Cart*/
#shoppingCartPopUp p {
  margin-bottom: 0px;
  font-size: 1.5rem;
}

#shoppingCartPopUp button {
  font-size: 1.5rem !important;
}

#shoppingCartPopUp h5 {
  font-size: 3rem;
}

.text-1-5rem {
  font-size: 1.5rem;
}

/* Turns off the up / down arrows next to the number inputs in Chrome, Safari, Edge, and Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Turns off the up / down arrows next to the number inputs in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.max-width-100 {
  max-width: 100%;
  height: auto;
}

.border-radius-100 {
  border-radius: 100px;
}

.square-cropped-100px {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.width-90 {
  width: 90%;
}

.width-20 {
  width: 20%;
}

.width-27 {
  width: 27%;
}

.width-107px {
  width: 107px;
}

.px-1rem {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.pl-15px {
  padding-left: 15px;
}

.my-7-5px {
  margin-left: 7.5px;
  margin-right: 7.5px;
}